
<div class="container">
  <article class-"tweet row">

      <% @blogs.each do |blog| %>
        <div class-"blog-panel col-xs-12 col-md-4 col-md-offset-4">
          <h2><%= blog.title %></h2>
          <h3><%= blog.content %></h3>
          <p><%= blog.created_at %></p>
          <p><%= blog.user.name %></p>
                    <% if blog.user_id == current_user.id %>
                      <%= link_to 'Show', blog_path(blog.id)  %> |
                      <%= link_to 'Edit', edit_blog_path(blog.id)%> |
                      <%= link_to 'Destroy', blog_path(blog.id),method: :delete, data: { confirm: 'Are you sure?' }%>
                    <% else %>
                      <%= link_to 'Show', blog_path(blog.id)  %>
                    <% end %>
        </div>
     <% end %>
  </article>
</div>
